@page "{userId:Guid}"
@model MajorSelection.Pages.Users.SelectMajorModel
@{
}

<div class="bg-secondary bg-opacity-10 py-2 mb-5">
    <div class="container">
        <h1>Selected Majors</h1>
    </div>
</div>

<partial name="_Notification">


    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <td>Proiority</td>
                    <td>Serial Number</td>
                    <td>Name</td>
                    <td>University Name</td>
                    <td>Place Of Duty</td>
                    <td> </td>
                    <td> </td>
                </tr>
            </thead>
            <tbody>
                @for (int i = 1; i < 21; i++)
                {
                    <tr>
                        <td>@i</td>
                        @if (Model.Majors[i - 1] == null)
                        {
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td><a href="/Users/MajorsList/@i/@Model.UserId">Add</a></td>
                        }
                        else
                        {
                            <td>@Model.Majors[i - 1].SerialNumber</td>
                            <td>@Model.Majors[i - 1].Name</td>
                            <td>@Model.Majors[i - 1].UniversityName</td>
                            <td>@Model.Majors[i - 1].PlaceOfDuty</td>
                            <td><a href="/Users/MajorsList/@i/@Model.UserId">Edit</a></td>
                            <td><a href="/Users/DeleteMajor/@Model.Majors[i-1].Id/@Model.UserId">Delete</a></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>